.contactoTitulo {
    text-align: center;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width:max-content;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    background-color: var(--color6);
    border-radius: 1rem;
    text-align: center;
}

.formContainer form {
    padding: 25px 45px 25px 0;
}

.formContainer button {

    margin-left: 40px;
    font-size:larger;
}

.formContainer label {
    display: inline-block;
    text-align: right;
    width: 100px;
    color: var(--color1);
    
}

.formContainer input {
    width: 300px; 
}

.formContainer textarea {
    width: 100%;
    overflow: scroll;
    resize: none;
    margin-left: 20px;
}